build
parser.out
parsetab.py
cscope.files
cscope.out
*.pyc
*~
.*.swp
.*.swo
*.trc
m5out
/src/doxygen
/ext/dramsim2/DRAMSim2
/ext/mcpat/regression/*/*.out
/util/m5/*.o
/util/m5/*.a
/util/m5/m5
/util/packet_pb2.py
/util/tap/*.d
/util/tap/*.o
/util/tap/m5tap
/util/term/m5term
/system/arm/dt/*.dtb
/system/arm/simple_bootloader/*.o
/system/arm/simple_bootloader/boot.arm
/system/arm/simple_bootloader/boot_emm.arm
/system/arm/aarch64_bootloader/boot_emm.arm64

gem5_test/
mytest/
output_folder/
run_cl_benchmark
src/proto/google
src/tags
tags
tests/test-progs/gpu-hello/bin/x86/linux/gpu-hello.disasm
tests/test-progs/gpu-hello/src/gem5_addr_test
tests/test-progs/gpu-hello/src/gem5_addr_test.cpp
tests/test-progs/gpu-hello/src/gem5_addr_test.s
tests/test-progs/gpu-hello/src/gpu-data-copy
tests/test-progs/gpu-hello/src/gpu-data-copy.cpp
tests/test-progs/gpu-hello/src/gpu-data-copy.s
tests/test-progs/gpu-hello/src/gpu-hello
tests/test-progs/gpu-hello/src/gpu-hello-kernel.asm
tests/test-progs/gpu-hello/src/gpu-hello-kernel.brig
tests/test-progs/gpu-hello/src/gpu-hello-kernel.fe.bc
tests/test-progs/gpu-hello/src/gpu-hello-kernel.linked.bc
tests/test-progs/gpu-hello/src/gpu-hello-kernel.opt.bc
tests/test-progs/gpu-hello/src/gpu-hello.s
tests/test-progs/opencl_test/

configs/example/apu_se_gpu_dram.py
configs/example/cpu_gpu_cfg.py
